{% extends 'eticket/layout.html' %}
{% load static %}
{% block title %}
    تحويل تذكرة
{% endblock %}
{% block content %}
    <h1>تحويل تذكرة</h1>
    <form action="{% url 'convert_ticket' %}" method="post" id="ticket-form">
        {% csrf_token %}
        {{form}}
        <span>هل توجد مذكرة رسمية؟ </span><input type="checkbox" onclick="show_memo()">
        <textarea id='memo_info' class="form-control" placeholder="الرجاء كتابة رقم المذكرة والتاريخ"></textarea>
        <label for="">ملاحظات</label>
        <input type="text" class="form-control" name='notes' placeholder="ملاحظات اخرى">
        <input type="submit" value="تحويل">
    </form>

    <script type="text/javascript" src="{% static "eticket/show_memo.js" %}"></script>
{% endblock %}