{% extends 'eticket/layout.html' %}
{% load static %}
{% block title %}
    تحويل تذكرة
{% endblock %}
{% block content %}
<div style="text-align: right; margin-top: 20px; margin-right: 30px;">
    <a href="{% url 'index' %}" class="btn btn-lg btn-warning">الصفحة الرئيسية</a>
</div>
    <div class="container-convert">
        <form action="{% url 'convert_ticket' %}" method="post" id="ticket-form">
            {% csrf_token %}
            <div id="register-panel-ticket">
                <p align='center' class="signup-title">ارسال تذكرة</p>
                {% for field in form %}
                <label  class="">{{field.label}}</label>
                {{field}}
                <br>
                {% endfor %}
                <label for="" class=""> هل توجد مذكرة رسمية ؟</label><input class="form-check-input" type="checkbox" onclick="show_memo()">
                <br>
                <input id='memo_info' name="memo" class="inputform" placeholder="الرجاء كتابة رقم المذكرة والتاريخ" style="margin-right: 200px;">
                <label for="" class="">اسماء المكلفين بالجولة</label>
                <input type="text" class="inputform style-uniform" name='notes' placeholder="اكتب اسماء المكلفين بالجولة">
                <input type="submit" href="" class="submit" value="ارسال تذكرة">
                <!-- <input type="submit" value="تحويل" class="btn btn-warning">                 -->
            </div>

        </form>        
    </div>
    </div>
    
    <script type="text/javascript" src="{% static "eticket/show_memo.js" %}"></script>
{% endblock %}