{% extends "eticket/layout_profile.html" %}
{% load static %}
{% block title%}مسؤول قسم الاتصالات{% endblock %}
{% block body %}
<br>

    <h1>مسؤول قسم الاتصالات</h1>


    <a href="{% url 'logout_page' %}">تسجيل خروج</a>
    <br>
    <button id="done">التذاكر المنجزة</button>
    <button id="undone">التذاكر غير المنجزة</button>

    
        <div class="done_tickets">
        
            <table class="table table-bordered table-hover" id="tableid">
                <thead class="table-dark">
                    <tr>
                        <th>ticket no.</th>
                        <th>ticket title</th>
                        <th>ticket type</th>
                        <th>ticket_priority</th>
                        <th>ticket_status</th>
                        <th>ticket date</th>
                        <th>ticket sender</th>
                        <th>ticket sender secttion</th>
                        <th>ticket Solution</th>
                        <!--<th>ticket solver</th>-->
                    </tr>
                </thead>
                {% for ticket in done_tickets %}
                    <tr class="row-ticket">
                        <td id="{{ticket.id}}" class="number">{{ticket.id}}</td>
                        <td>{{ ticket.title }}</td>
                        <td>{{ticket.ticket_type}}</td>
                        <td>{{ticket.ticket_priority}}</td>
                        <td>{{ticket.ticket_status}}</td>
                        <td>{{ticket.date}}</td>
                        <td>{{ticket.employee}}</td>
                        <td>{{ticket.employee.section}}</td>
                        <td>{{ticket.solution}}</td>
      
    
                    </tr>
                {% endfor %}
                </table>
        </div>
        <div class="undone_tickets">
            <table class="table table-bordered table-hover" id="tableid">
                <thead class="table-dark">
                    <tr>
                        <th>ticket no.</th>
                        <th>ticket title</th>
                        <th>ticket type</th>
                        <th>ticket_priority</th>
                        <th>ticket_status</th>
                        <th>ticket date</th>
                        <th>ticket sender</th>
                        <th>ticket sender secttion</th>
                        <th>ticket Solution</th>
                        <!--<th>ticket solver</th>-->
                    </tr>
                </thead>
                {% for ticket in undone_tickets %}
                    <tr class="row-ticket">
                        <td id="{{ticket.id}}" class="number">{{ticket.id}}</td>
                        <td>{{ ticket.title }}</td>
                        <td>{{ticket.ticket_type}}</td>
                        <td>{{ticket.ticket_priority}}</td>
                        <td>{{ticket.ticket_status}}</td>
                        <td>{{ticket.date}}</td>
                        <td>{{ticket.employee}}</td>
                        <td>{{ticket.employee.section}}</td>
                        <td>{{ticket.solution}}</td>
    

                    </tr>
                {% endfor %}
            </table>
        </div>

    
    
{% endblock %}
{% block script %}
<script src="{% static 'eticket/index4.js' %}"></script>
{% endblock %}