{% extends 'eticket/layout.html' %}
{% load static %}
{% block title %}
    الجولات المنجزة 
{% endblock %}
{% block content %}
    <div class="header">
    <a href="{% url 'index' %}" class="btn btn-primary" style="margin: 30px;">الصفحة الرئيسية</a>
    </div>
    <table class="table table-bordered">
        <caption>قائمة الجولات المخصصة</caption>
        <thead>
            <tr class="table-primary">
                <th>رقم الجولة</th>
                <th>اسم الموظف</th>
                <th>اسم الجولة</th>
                <th>نوع الجولة</th>
                <th>تاريخ الجولة</th>
                <th>عدد ايام الجولة</th>
                <th>تاريخ نهاية الجولة</th>
                <th>فريق الجولة</th>
                <th>تعديل</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
            <tr>
                <td><a href="{% url 'show_pdf' ticket.id %}" title="معاينة التخصيص">{{ticket.id}}</a></td>
                <td>{{ticket.employee.first_name}} {{ticket.employee.last_name}}</td>
                <td>{{ticket.tour_name}}</td>
                <td>{{ticket.tour_type}}</td>
                <td>{{ticket.tour_date}}</td>
                <td>{{ticket.tour_duration}}</td>
                <td>{{ticket.expected_end_tour}}</td>
                <td>{{ticket.notes}}</td>
                <td><a type="button" class="edit-btn" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class='far fa-edit' style='font-size:24px'></i> </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">معاينة التخصيص</h5>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        </div>
        <div class="modal-body">
          <div id="wrapping-content">
            
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{% static "eticket/edit_allocation.js" %}"></script>

{% endblock %}