{% extends "eticket/layout_profile.html" %}
{% load static %}
{% block title%}Technical Team{% endblock %}
{% block body %}
<br>
    <h1>شعبة تكنلوجيا المعلومات</h1>
    <h2>اسم المستخدم: {{user.username}}</h2>
    <a href="{% url 'logout_page' %}">تسجيل خروج</a>
    <a href="{% url 'register_emp' %}">تسجيل موظف جديد  </a>
    <br>
    <div class="done-ticket">
        <form action=""  class="final-convert-ticket">
            Ticket Number : <input type="number" id="ticketnumber">
            Change Status : <select id="select-status">
                <option disabled selected> Select Status</option>
                <option id="done" value="accomplished">accomplished</option>
                <option id="undone" value="accomplished">unaccomplished</option>
            </select>
            Solution : <textarea id="solution" cols="15" rows="4" placeholder="Enter solution details"></textarea>
            <input type="submit" value="Convert Ticket" id="submiticket">
        </form>

    </div>
    <br>

    <div class="all_tickets">
        
        <table class="table table-hover table-bordered" id="table_id">
            <thead class="table-dark">
            <tr>
                <th>ticket no.</th>
                <th>ticket title</th>
                <th>ticket type</th>
                <th>ticket_priority</th>
                <th>ticket_status</th>
                <th>ticket date</th>
                <th>ticket sender</th>
                <th>ticket sender secttion</th>
                <th>ticket sender department</th>
                <th>ticket solver</th>
            </tr>
        </thead>

        {% for item in ticket %}
            <tr class="row-tickets"> 
                <td id="{{item.id}}">{{item.id}}</td>
                <td>{{ item.title }}</td>
                <td>{{item.ticket_type}}</td>
                <td>{{item.ticket_priority}}</td>    
                <td>{{item.ticket_status}}</td>
                <td>{{item.date}}</td>
                <td>{{item.employee}}</td>
                <td>{{item.employee.section}}</td>
                <td>{{item.employee.department}}</td>
                <td>{{item.it_user}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'eticket/index3.js' %}"></script>

{% endblock %}