{% extends "eticket/layout.html" %}

{% block title %}
    Login_manager
{% endblock %}
{% block content %}
    {% if message %}
        <h3>{{ message }}</h3>
    {% endif %}
    <div align='center' class="main">
        <p class="sign" align="center">تسجيل دخول</p>
        <form action="{% url 'login_master' %}" method="POST" class="form1">
            {% csrf_token %}
                {{loginform}}
        <input type="submit" align="center" href="" class="submit" value="تسجيل دخول">
    </form>
    </div>
    
        
        
    
{% endblock %}