{% extends 'eticket/layout.html' %}
{% load static %}
{% block title %}
    صفحة شعبة الصيانة
{% endblock %}
{% block content %}
    <h1>صفحة شعبة الصيانة</h1>
    <h2>تسجيل دخول بأسم {{user.username}}</h2>
   
        <table class="table" id="tableid">
            <thead>
                <tr>
                    <th scope="col">رقم الجولة</th>
                    <th scope="col"> اسم الموظف</th>
                    <th scope="col">اسم الجولة</th>
                    <th scope="col">نوع الجولة</th>
                    <th scope="col">تاريخ الجولة</th>
                    <th scope="col">عدد أيام الجولة</th>
                    <th scope="col">تاريخ نهاية الجولة المتوقع</th>
                    <th>تخصيص جولات</th>
                    <th>select</th>
                </tr>
                
                <tbody>
                    {% for tour in tours %}
                    <tr>
                        <td>{{tour.id}}</td>
                        <td>{{tour.employee}}</td>
                        <td>{{tour.tour_name}}</td>
                        <td>{{tour.tour_type}}</td>
                        <td id="start-tour">{{tour.tour_date}}</td>
                        <td id="tour-duration">{{tour.tour_duration}}</td>
                        <td id="end-tour">{{tour.expected_end_tour}}</td>
                        <td><button class="allocate-btn btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">تخصيص</button></td>
                        <td><input type="checkbox" class="chk" /></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
        <!-- <button id="get-data">Get Data</button> -->
        <div class="container" id="wrap">
            <select id="choose-day" class="form-select">
                <option value="0" selected> choose day</option>

            </select>
        </div>
        <!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
    
        <script type="text/javascript" src="{% static "eticket/ticket_reply.js" %}"></script>

   
{% endblock %}