{% extends 'eticket/layout.html' %}
{% load static %}
{% block title %}
    صفحة شعبة الصيانة
{% endblock %}
{% block content %}
    <h1>صفحة شعبة الصيانة</h1>
    <h2>تسجيل دخول بأسم {{user.username}}</h2>
   
        <table class="table" id="tableid">
            <thead>
                <tr>
                    <th scope="col">رقم الجولة</th>
                    <th scope="col"> اسم الموظف</th>
                    <th scope="col">اسم الجولة</th>
                    <th scope="col">نوع الجولة</th>
                    <th scope="col">تاريخ الجولة</th>
                    <th scope="col">عدد أيام الجولة</th>
                    <th scope="col">تاريخ نهاية الجولة المتوقع</th>
                    <th>تخصيص جولات</th>
                </tr>
                
                <tbody>
                    {% for tour in tours %}
                    <tr>
                        <td>{{tour.id}}</td>
                        <td>{{tour.employee}}</td>
                        <td>{{tour.tour_name}}</td>
                        <td>{{tour.tour_type}}</td>
                        <td id="start-tour">{{tour.tour_date}}</td>
                        <td id="tour-duration">{{tour.tour_duration}}</td>
                        <td id="end-tour">{{tour.expected_end_tour}}</td>
                        <td><a href="" class="allocate-btn">تخصيص</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
        <div class="container" id="wrap">
            container
            
        </div>
    
        <script type="text/javascript" src="{% static "eticket/ticket_reply.js" %}"></script>

   
{% endblock %}