{% extends 'eticket/layout.html' %}
{% load static %}
{% block title %}
    صفحة شعبة الصيانة
{% endblock %}
{% block content %}
    <h1>صفحة شعبة الصيانة</h1>
    <h2>تسجيل دخول بأسم {{user.username}}</h2>
   
        <table class="table table-bordered" id="tableid">
            <thead>
                <tr class="table-primary">
                    <th  scope="col">رقم الجولة</th>
                    <th scope="col"> اسم الموظف</th>
                    <th scope="col">اسم الجولة</th>
                    <th scope="col">نوع الجولة</th>
                    <th scope="col">تاريخ الجولة</th>
                    <th scope="col">عدد أيام الجولة</th>
                    <th scope="col">الايام غير المخصصة</th>
                    <th scope="col">تاريخ نهاية الجولة المتوقع</th>
                    <th scope="col"> ملاحظات الموظف</th>
                    <th scope="col">أستلام المذكرة</th>
                    <th>تخصيص جولات</th>
                    <th>select</th>
                </tr>
                
                <tbody>
                    {% for tour in tours %}
                    <tr {% if not tour.status %} style="border: 1px double #1266f1;"{% endif %}>

                        <td class="table-secondary">{{tour.id}}</td>
                        <td>{{tour.employee}}</td>
                        <td>{{tour.tour_name}}</td>
                        <td>{{tour.tour_type}}</td>
                        <td id="start-tour">{{tour.tour_date}}</td>
                        <td id="tour-duration">{{tour.tour_duration}}</td>
                        <td class="unassigned" {% if tour.unallocated_days != 0 %} style="background-color: brown;"{% endif %} >{{tour.unallocated_days}}</td>
                        <td id="end-tour">{{tour.expected_end_tour}}</td>
                        <td> {{tour.notes}}</td>
                        {% if tour.status %}
                        <td class="delivered">تم التسليم</td>
                        {% else %}
                        <td><button type="button" class="send-memo-status btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">ارسال حالة المذكرة</button></td>
                        {% endif%}

                        <td id="{{tour.id}}"><button class="allocate-btn btn btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal">تخصيص</button></td>
                        <td><input type="checkbox" class="chk" /></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
        <!-- <button id="get-data">Get Data</button> -->
        <div class="container" id="wrap">
            
        </div>
        
 



<!-- Memo_confirm_model -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">ارسال حالة المذكرة</h5>
      </div>
      <div class="modal-body">
          <select id="memo-select" class="form-control">
            <option value="تم الاستلام">تم الاستلام</option>
            <option value="لم يتم استلام المذكرة">لم يتم استلام المذكرة</option>
            <option value="خطأ في المذكرة">خطأ في المذكرة</option>
          </select>
          <textarea name="notes" id="memo-note" class="form-control" cols="30" rows="10"></textarea>
          <input type="submit" class="send btn btn-primary" value="submit" data-bs-dismiss="modal">
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
  <!-- Allocation Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">تخصيص جولة</h5>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="float:right"></button> -->
        </div>
        <div class="modal-body">
          <h3>يرجى ادخال الجولات وحسب عدد الايام</h3>
          <div class="tour_wrapper" style="border: 1px solid black;">

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary close-allocation_page">غلق واجهة التخصيص</button>
        </div>
      </div>
    </div>
  </div>

  <!-- modal toggle -->
  
  
        <script type="text/javascript" src="{% static "eticket/ticket_reply.js" %}"></script>

   
{% endblock %}