{% extends "eticket/layout.html" %}
{% load static %}
    {% block title %}
        صفحة الموظفين {{ user.first_name}}
    {% endblock %}
    {% block content %}
    <br>
    <h3>تسجيل دخول بأسم : <b style="color:#1266f1;">{{user.first_name}} {{user.last_name}}</b> </h3>
    <b>{{user.role}}</b>   
    <hr>
        <div class="container-fluid" >
            <h1>الجولات السابقة</h1>
            <table class="table table-bordered">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">رقم الجولة</th>
                        <th scope="col">اسم الجولة</th>
                        <th scope="col">نوع الجولة</th>
                        <th scope="col">تاريخ الجولة</th>
                        <th scope="col">مدة الجولة</th>
                        <th scope="col">ايام غير مخصصة</th>
                        <th scope="col"> معاينة التخصيص</th>
    
                    </tr>
                    
                    <tbody>
                        {% for ticket in tickets  %}
                        <tr>
                            <td>{{ticket.id}}</td>
                            <td>{{ticket.tour_name}}</td>
                            <td>{{ticket.tour_type}}</td>
                            <td class="tour-date">{{ticket.tour_date}}</td>
                            <td>{{ticket.tour_duration}}</td>
                            <td>{{ticket.unallocated_days}}</td>
                            <td><a href="{% url 'show_replied_ticket' ticket.id%}" class="btn btn-primary" {% if ticket.unallocated_days != 0 %} style="background-color: brown;"{% endif %}>معاينة التخصيص</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </thead>
            </table>
        </div>
   
    {% endblock %}
    {% block script %}
        <script src="{% static 'eticket/index.js' %}"></script>
    {% endblock %}

    

