{% extends 'eticket/layout.html' %}
{% load static %}
{% block title %}
    تسجيل موظفي الصيانة
{% endblock %}
{% block content %}
    {% if alert %}
        <h1>{{alert}}</h1>
    {% endif %}
    {% if error %}
        <h1>{{error}}</h1>
    {% endif %}
    <form action="{% url 'register_maintenance' %}" method="post">
        {% csrf_token %}
        <div id="register-panel-mainten">
            <p align='center' class="signup-title">اضافة موظف صيانة</p>
            {{ form }}
            <input type="submit" href="" class="submit" value="تسجيل دخول">
            <!-- <input type="submit" value="حفظ" class="btn btn-primary"> -->
        </div>
        
    </form>
{% endblock %}