{% extends 'eticket/layout.html' %}
{% load static %}
{% block title %}
    تسجيل الموظفين
{% endblock %}
{% block content %}
    {% if alert %}
        <h1>{{alert}}</h1>
    {% endif %}
    {% if error %}
        <h1>{{error}}</h1>
    {% endif %}
   
    
        <form action="{% url 'register_emp' %}" method="post">
            
            {% csrf_token %}
            <div id="register-panel">
                <p align='center' class="signup-title">اضافة موظف جديد</p>
                {{ form }}
                <input type="submit" href="" class="submit" value="تسجيل دخول">
                
            </div>
        </form>
    
{% endblock %}