{% extends 'eticket/layout.html' %}
{% load static %}
{% block title %}
    العجلات المخصصة 
{% endblock %}
{% block content %}
<h1>تذكرة رقم : {{ticket.id}}</h1>
<h1>عنوان التذكرة: {{ticket.tour_name}}</h1>
<h1>مدة الجولة : {{ticket.tour_duration}} ايام</h1>

<h2>حالة المذكرة: <span style="color: brown;">{{memo_replied.memorandum_statue}}</span></h2>
{% if state %}
<span style="color: red;">{{state}}</span>
{% endif %}
<br>
<a href="{% url 'index' %}" class="btn btn-primary" style="text-align: right;">العودة</a>
<hr>

<div class="container">
    <h1 style="text-align: center;">تفاصيل تخصيص العجلات</h1>
    <table class="table table-bordered counter-table">
        <thead class="table-primary">
            <th scope="col">اليوم</th>
            <th scope="col">التاريخ</th>
            <th scope="col">اسم السائق</th>
            <th scope="col">العجلة المخصصة</th>
            <th scope="col">وقت التخصيص</th>
        </thead>
        <tbody>
            {% for item in allocations %}
            <tr>
                <td class="counter-cell">اليوم </td>
                <td>{{item.allocate_date}}</td>
                <td>{{item.driver_name}}</td>
                <td>{{item.car}}</td>  
                <td>{{item.allocation_time}}</td>  
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if message %}
    <h1>{{ message }}</h1>
    {% endif %}
  <a href="{% url 'show_pdf' ticket.id %}" class="btn btn-primary">تحويل الى صيغة PDF</a>
</div>
{% endblock %}